html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

.wrapper {
  width: 100vw;
  min-height: 2200px;
  background: linear-gradient(180deg, #250d3c 0%, #000 91.15%);
  position: relative;
}

.container {
  max-width: 1280px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
}

.header__btn {
  background-color: transparent;
  border: none;
  margin-right: 50px;
}

.logo {
}

.header__inner {
  display: flex;
  align-items: center;
  padding: 32px 0px 0px 0px;
}

.menu {
  width: 862px;
  display: flex;
  justify-content: center;
}

.menu__list {
  display: flex;
  gap: 100px;
  list-style-type: none;
}

.menu__list-link {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
}

.menu__login {
  opacity: 0.6;
}

.promo {
  background-image: url(images/фон__подписка.png);
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 3401px;
  padding-top: 216px;
}

.promo__inner {
}

.promo__title {
  color: #fff;
  font-size: 70px;
  font-weight: 900;
  letter-spacing: 0.2px;
  width: 746px;
  margin-bottom: 40px;
}

.promo__offer {
  color: #fff;
  font-size: 23px;
  font-weight: 400;
  letter-spacing: -0.34px;
  margin-bottom: 88px;
  line-height: 32.455px;
}

.promo__offer__sub {
  width: 580px;
}

.promo__decorations {
  display: flex;
  gap: 54px;
}

.promo__decorate__el {
  width: 623px;
  height: 660px;
  border: 2px solid #f4cb52;
  border-radius: 20px;
}
.promo__decorate__title {
  color: #fff;
  font-size: 36px;
  font-weight: 400;
  margin: 48px 0 0 48px;
}
.promo__decorate__subtitle {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  margin: 40px 0 0 48px;
}

.promo__period {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  margin: 15px 0 0 50px;
}

.promo__decorate__privileges {
  margin: 33px 0 39px 55px;
}

.privileges__el {
  display: flex;
  margin-bottom: 15px;
  gap: 20px;
}

.privileges__el:last-child {
  margin-bottom: 0;
}

.privileges__decorate {
}

.privileges__text {
  color: #fff;
  font-size: 23px;
  font-weight: 400;
  width: 464px;
}

.promo__btn {
  font-family: Rubik;
  padding: 19px 63px;
  border-radius: 20px;
  background: linear-gradient(
    270deg,
    #f4cb51 11.01%,
    #f1a329 47.16%,
    #ea780f 81.68%
  );
  border: none;
  margin-left: 50px;
}

.promo__btn-text {
  color: #fff;
  font-size: 23px;
  font-weight: 700;
  letter-spacing: -0.34px;
}

.privileges__conditions {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  width: 486px;
  margin: 39px 0 0 48px;
}

.promo__title-sub {
  color: #fff;
  font-size: 70px;
  font-weight: 900;
  letter-spacing: 0.2px;
  margin-top: 152px;
}

.accordion {
  margin-top: 100px;
}

.accordion__el {
  margin-bottom: 60px;
}

.accordion__btn {
  color: #fff;
  font-family: Rubik;
  font-size: 40px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.accordion__content {
  color: #fff;
  font-family: Rubik;
  font-size: 23px;
  font-weight: 400;
  width: 885px;
  padding-top: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out, padding-top 0.3s ease-in-out;
}
