html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

.wrapper {
  width: 100vw;
  min-height: 1000px;
  background: linear-gradient(180deg, #250d3c 0%, #000 91.15%);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1320px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  margin-bottom: 119px;
}

.header__menu {
  position: relative;
}

.header__btn {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
  background-color: transparent;
  margin-right: 50px;
  cursor: pointer;
}

.header__btn span {
  border: 2px solid #fff;
  width: 27px;
}

.header__menu-container {
  visibility: hidden;
  opacity: 0;
  z-index: 5;
  top: -24px;
  left: -28px;
  position: absolute;
  width: 290px;
  height: 380px;
  border-radius: 20px;
  background: #5c4375;
  transition: opacity 0.3s, visibility 0s linear 0.3s; /* Добавлена задержка для visibility */
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 110px 0 0 22px;
}

.menu-item {
  display: flex;
  gap: 38px;
  align-items: center;
}

.menu-link {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
}

.header__menu-container.menu-open {
  visibility: visible;
  opacity: 1;
  z-index: 5;
  top: -24px;
  left: -28px;
  position: absolute;
  width: 290px;
  height: 380px;
  border-radius: 20px;
  background: #5c4375;
  transition: opacity 0.3s, visibility 0s linear 0s;
}

.logo {
  padding-top: 10px;
  position: relative;
  z-index: 10;
}

.header__inner {
  display: flex;
  align-items: center;
  padding: 32px 0px 0px 0px;
}

.menu {
  width: 862px;
  display: flex;
  justify-content: center;
}

.menu__list {
  display: flex;
  gap: 100px;
  list-style-type: none;
}

.menu__list-link {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
}

.loop__btn {
  background-color: transparent;
  border: none;
}

.menu__list-item {
  display: flex;
  gap: 30px;
}

.menu__login {
  opacity: 0.6;
  text-wrap: nowrap;
  transition: opacity 0.1s ease-in;
}

.menu__login:hover {
  opacity: 0.8;
}

.profile {
}

.profile__contain {
  display: flex;
  justify-content: space-between;
}

.profile__side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-bar__list-item {
  margin-bottom: 40px;
}

.side-bar__list-link {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
}

.side-bar__list-link.active {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
}

.side-bar__down-link {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.side-bar__link-help {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
}

.side-bar__link-out {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
}

.side-bar__list-item:last-child {
  margin-bottom: 0;
}

.profile__info {
}

.profile__title {
  color: #fff;
  font-size: 70px;
  font-weight: 900;
  letter-spacing: 0.2px;
  width: 1300px;
  margin-bottom: 20px;
  text-align: center;
}

.profile__offer {
  color: #fff;
  font-size: 23px;
  font-weight: 400;
  letter-spacing: -0.34px;
  margin-bottom: 60px;
  line-height: 32.455px;
  text-align: center;
}

.profile__info__card {
  width: 859px;
  height: 618px;
  background-color: #fff;
  padding: 40px 0 0 47px;
  border-radius: 20px;
}

.info__title {
  color: #250d3c;
  font-size: 36px;
  font-weight: 700;
}

.profile__info__contain {
  display: flex;
}

.search-forms__contain {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 40px;
  height: 461px;
  margin-top: 40px;
}

.search-form {
  margin-bottom: 20px;
  width: 350px;
  position: relative;
}

.input-tel::after {
  content: "";
  position: absolute;
  background-image: url(images/small_arrow_dark.svg);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 5;
  top: 63px;
  right: 50px;
  height: 8px;
  width: 14px;
}

.input-tel::before {
  content: "";
  position: absolute;
  background-image: url(images/🇧🇾.svg);
  background-position: center;
  z-index: 5;
  top: 51px;
  right: 20px;
  height: 30px;
  width: 25px;
}

.input-gender {
  position: relative;
}

.input-gender::after {
  content: "";
  position: absolute;
  background-image: url(images/small_arrow_dark.svg);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 5;
  top: 63px;
  right: 30px;
  height: 8px;
  width: 14px;
}

.gender {
  color: #d9d9d9;
  font-size: 24px;
  font-weight: 400;
  text-align: start;
  margin-bottom: 5px;
  cursor: pointer;
}

.choose-gendr {
  color: #d9d9d9;
  font-size: 24px;
  font-weight: 400;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
  top: 50px;
  left: 16px;
  z-index: 1;
}

.dropdown-content li {
  padding: 20px 7px 0px 7px;
}

.dropdown-content p {
  color: #5c4375;
  font-size: 24px;
  letter-spacing: -1.3px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content li:hover {
  padding: 20px 7px 0px 7px;
  color: #d9d9d9;
}

.search-form:nth-last-child(3) {
  margin-bottom: 0;
  width: 350px;
}

.search-form__text {
  color: #250d3c;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 25.644px;
  letter-spacing: -0.265px;
}

.search {
  width: 350px;
  height: 62px;
  border-radius: 20px;
  border: 1px solid #aeaeae;
  outline: none;
  padding: 17px 18px 10px 22px;
  background-color: #fff;
}

.search::placeholder {
  color: #d9d9d9;
  font-size: 24px;
  font-weight: 400;
  line-height: 32.455px;
  letter-spacing: -0.335px;
}

.info__boring-items {
  margin-top: auto;
  width: 398px;
}

.boring-items__el {
  color: #250d3c;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 25.644px;
}

.boring-items__el:last-child {
  margin-bottom: 0px;
}

.footer {
}

.footer__inner {
  padding-bottom: 53px;
}

.horizontal-line {
  height: 0px;
  border: 1px SOLID rgba(244, 203, 82, 0.6);
  width: 1300px;
  margin: 157px auto 70px auto;
}

.footer__contain {
  display: flex;
  justify-content: space-between;
}

.footer__question {
}

.logo-pic {
  width: 84px;
  height: 84px;
  margin-bottom: 54px;
}

.questionn {
  color: #fff;
  font-family: Rubik;
  font-size: 14.396px;
  font-style: normal;
  font-weight: 700;
  line-height: 11.68px; /* 81.138% */
  letter-spacing: -0.121px;
}

.footer__social-media {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 15px;
}

.social-media {
  display: flex;
  gap: 35px;
}

.horizontal-line--small {
  border: 2px solid #fff;
  width: 279px;
  height: 0px;
  margin-top: 28px;
}

.footer__wish {
  color: #fff;
  text-align: center;
  font-family: Rubik;
  font-size: 17.268px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.949px; /* 127.105% */
  letter-spacing: 3.3px;
  padding-top: 34px;
}
