html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: "Rubik", sans-serif;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

.wrapper {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(180deg, #250d3c 0%, #000 91.15%);
  position: relative;
}

.container {
  max-width: 1320px;
  padding: 0 10px;
  margin: 0 auto;
}

.main {
  background-image: url(images/фон__подписка.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 0px;
  min-height: 100vh;
}

.main__inner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__login {
  width: 420px;
  height: 660px;
  border-radius: 20px;
  background: #f5f5f5;
}

.logo {
  display: block;
  margin: 40px auto 0;
}

.form__title {
  width: 240px;
  margin: 50px auto 0;
  text-align: center;
  color: #000;
  font-size: 24px;
  font-weight: 600;
}

.switch {
}

.switch__inner {
  width: 350px;
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto 0;
  border-radius: 20px;
  border: 1px solid #aeaeae;
}

.email__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 176px;
  height: 62px;
  border-radius: 20px;
  margin-left: -1px;
  cursor: pointer;
  color: #8f8f8f;
  font-size: 24px;
}

/* .email__btn-text {
  color: #8f8f8f;
  font-size: 24px;
} */

.email__btn.active {
  width: 175px;
  height: 62px;
  border-radius: 20px;
  background: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #000;
  font-family: Rubik;
  font-size: 24px;
  font-weight: 400;
}

/* .email__btn-text.active {
  color: #000;
  font-family: Rubik;
  font-size: 24px;
  font-weight: 400;
} */

.phone__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 176px;
  height: 62px;
  border-radius: 20px;
  margin-right: -1px;
  cursor: pointer;
  color: #8f8f8f;
  font-family: Rubik;
  font-size: 24px;
}

/* .phone__btn-text {
  color: #8f8f8f;
  font-family: Rubik;
  font-size: 24px;
} */

.phone__btn.active {
  width: 175px;
  height: 62px;
  border-radius: 20px;
  background: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #000;
  font-family: Rubik;
  font-size: 24px;
  font-weight: 400;
}

/* .phone__btn-text.active {
  color: #000;
  font-family: Rubik;
  font-size: 24px;
  font-weight: 400;
} */

.search-form {
  margin: 30px auto 0;
  width: 350px;
  height: 62px;
}

.search {
  width: 350px;
  height: 62px;
  border-radius: 20px;
  border: 1px solid #aeaeae;
  outline: none;
  padding: 17px 18px 10px 22px;
}

.search::placeholder {
  color: #d9d9d9;
  font-size: 24px;
  font-weight: 400;
  line-height: 32.455px; /* 135.23% */
  letter-spacing: -0.335px;
}

.login__btn {
  display: block;
  margin: 30px auto 0;
  width: 350px;
  height: 62px;
  border-radius: 20px;
  background: #000;
}

.login__btn-text {
  color: #f5f5f5;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 25.644px; /* 106.849% */
  letter-spacing: -0.265px;
}

.register__btn {
  display: block;
  width: 350px;
  height: 62px;
  border-radius: 20px;
  border: 1px solid #aeaeae;
  margin: 10px auto 0;
}

.register__btn-text {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 25.644px; /* 106.849% */
  letter-spacing: -0.265px;
}

.login__other {
  color: #0e0d16;
  margin: 30px 0 0;
  text-align: center;
  line-height: 32.455px;
  font-size: 16px;
  font-weight: 400;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 28px;
  margin-top: 3px;
}
