html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

.wrapper {
  width: 100vw;
  min-height: 500px;
  background: linear-gradient(180deg, #250d3c 0%, #000 63.02%);
  position: relative;
}

.container {
  max-width: 1320px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
}

.header__menu {
  position: relative;
}

.header__btn {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
  background-color: transparent;
  margin-right: 50px;
  cursor: pointer;
}

.header__btn span {
  border: 2px solid #fff;
  width: 27px;
}

.header__menu-container {
  visibility: hidden;
  opacity: 0;
  z-index: 5;
  top: -24px;
  left: -28px;
  position: absolute;
  width: 290px;
  height: 380px;
  border-radius: 20px;
  background: #5c4375;
  transition: opacity 0.3s, visibility 0s linear 0.3s; /* Добавлена задержка для visibility */
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 110px 0 0 22px;
}

.menu-item {
  display: flex;
  gap: 38px;
  align-items: center;
}

.menu-link {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
}

.header__menu-container.menu-open {
  visibility: visible;
  opacity: 1;
  z-index: 5;
  top: -24px;
  left: -28px;
  position: absolute;
  width: 290px;
  height: 380px;
  border-radius: 20px;
  background: #5c4375;
  transition: opacity 0.3s, visibility 0s linear 0s;
}

.logo {
  padding-top: 10px;
  position: relative;
  z-index: 10;
}

.header__inner {
  display: flex;
  align-items: center;
  padding: 32px 0px 0px 0px;
}

.menu {
  width: 862px;
  display: flex;
  justify-content: center;
}

.menu__list {
  display: flex;
  gap: 100px;
  list-style-type: none;
}

.menu__list-link {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
}

.loop__btn {
  background-color: transparent;
  border: none;
}

.menu__list-item {
  display: flex;
  gap: 30px;
}

.menu__login {
  opacity: 0.6;
  text-wrap: nowrap;
  transition: opacity 0.1s ease-in;
}

.menu__login:hover {
  opacity: 0.8;
}

.promo {
  background-image: url(images/фон.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 990px;
  padding-top: 240px;
}

.promo__inner {
}

.promo__offer {
  color: #fff;
  font-size: 23px;
  font-weight: 400;
  letter-spacing: -0.34px;
  margin-bottom: 88px;
}

.promo__btn {
  font-family: Rubik;
  padding: 19px 63px;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  background: linear-gradient(270deg, #f4cb51 11.01%, #f1a329 47.16%, #ea780f 81.68%);
  border: none;
  margin-bottom: 88px;
  transition: transform 0.2s ease-in-out; /* добавляем transition для плавной анимации */
}

.promo__btn:hover {
  font-family: Rubik;
  padding: 19px 63px;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  background: linear-gradient(270deg, #f4cb51 11.01%, #f1a329 47.16%, #ea780f 81.68%);
  box-shadow: 2px 3px 20px 0px rgba(0, 0, 0, 0.6) inset;
  border: none;
  margin-bottom: 88px;
  transition: transform 0.2s ease-in-out; /* добавляем transition для плавной анимации */
}

.promo__btn.clicked {
  transform: scale(0.95); /* изменяем масштаб при нажатии */
}

.promo__btn-text {
  color: #fff;
  font-size: 23px;
  font-weight: 700;
  letter-spacing: -0.34px;
}

.promo__decorate {
  display: flex;
  gap: 106px;
}

.promo__decorate__el {
  width: 278px;
  height: 133px;
  border: 2px solid #f4cb52;
  border-radius: 20px;
}

.promo__decorate__el__stat {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  margin: 28px 0 15px 21px;
  line-height: 35px;
}
.promo__decorate__el__type {
  color: #fff;
  font-size: 23px;
  font-weight: 400;
  margin: 0 0 22px 26px;
  line-height: 32.455px;
}

.continue-watch {
}

.continue-watch__title {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
  display: block;
}

.continue-watch__films {
  display: flex;
  gap: 33px;
}

.films * {
  position: relative;
}

.films {
  background-color: #0c0513;
  max-width: 100vw;
  min-height: 100vh;
  position: relative;
  top: 0px;
}

.films::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: inherit;
  filter: blur(20px);
}

.films__inner {
  position: relative;
  top: -400px;
}

.film__container {
  position: relative;
}

.film__container img {
  cursor: pointer;
  /* filter: brightness(100%); */
  transition: filter 0.3s ease;
}

.film__container:hover img {
  filter: brightness(60%);
}

.film-poster_time-bar {
  width: 300px;
  height: 154px;
  position: relative;
}

.film__container span {
  display: block;
  width: 300px;
  height: 4px;
  background-color: rgba(97, 198, 69, 0.4);
  margin-top: 2px;
}

.film__container span::after {
  content: "";
  position: absolute;
  display: block;
  top: 158px;
  width: 170px;
  height: 4px;
  background-color: #61c645;
  margin-top: 2px;
}

.continue-watch__films .film__container:nth-child(2) span::after {
  content: "";
  position: absolute;
  display: block;
  top: 158px;
  width: 120px;
  height: 4px;
  background-color: #61c645;
  margin-top: 2px;
}

.continue-watch__films .film__container:nth-child(3) span::after {
  content: "";
  position: absolute;
  display: block;
  top: 158px;
  width: 260px;
  height: 4px;
  background-color: #61c645;
  margin-top: 2px;
}

.continue-watch__films .film__container:nth-child(2) span::after {
  content: "";
  position: absolute;
  display: block;
  top: 158px;
  width: 150px;
  height: 4px;
  background-color: #61c645;
  margin-top: 2px;
}

.continue-watch__films .film__container:nth-child(4) span::after {
  content: "";
  position: absolute;
  display: block;
  top: 158px;
  width: 50px;
  height: 4px;
  background-color: #61c645;
  margin-top: 2px;
}

.film-poster_subtitle {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  margin-top: 10px;
}

.watching-now__title {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
  display: block;
}

.watching-now__films-vert {
  display: flex;
  gap: 33px;
}

.film-poster_subtitle-vert {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  margin-top: 10px;
  cursor: pointer;
}

.film-poster {
}

#oppenheimer-vert {
  cursor: pointer;
}

.recommended-series {
  margin-top: 60px;
}

.movies-evening {
  margin-top: 60px;
}

.free-films {
  margin-top: 60px;
}

.footer {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  background: #0d0614;
}

.footer__inner {
  padding-bottom: 55px;
  padding-top: 75px;
}

.horizontal-line {
  height: 0px;
  border: 1px SOLID rgba(244, 203, 82, 0.6);
  width: 1300px;
  margin: 0px auto 70px auto;
}

.footer__contain {
  display: flex;
  justify-content: space-between;
}

.footer__question svg {
  margin-bottom: 54px;
}

.questionn {
  color: #fff;
  font-family: Rubik;
  font-size: 14.396px;
  font-style: normal;
  font-weight: 700;
  line-height: 11.68px; /* 81.138% */
  letter-spacing: -0.121px;
}

.footer__social-media {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 15px;
}

.social-media {
  display: flex;
  gap: 35px;
}

.horizontal-line--small {
  border: 2px solid #fff;
  width: 279px;
  height: 0px;
  margin-top: 28px;
}

.footer__wish {
  color: #fff;
  text-align: center;
  font-family: Rubik;
  font-size: 17.268px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.949px; /* 127.105% */
  letter-spacing: 3.3px;
  padding-top: 34px;
}
